<h1>WGU D210 TASK 1 REV 10 - MATTINSON</h1>

<div style="text-align: center; 
    line-height: 48px;
    font-size: 24px; " >  
    Dashboard Storytelling - Telecom Churn Data<br>
    Mike Mattinson<br>
    Master of Science, Data Analytics, WGU.edu<br>
    Task 1 - Databoard Storytelling<br>
    January 30, 2022<br>
</div>

<div style="font-family:Impact;">Configure Notebook.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">Import and configure packages. All of the code for importing and configuring is contained in a imports .PY file. Also, there is a second helpers .PY file to define a few functions used throughout this notebook.</span></div>

In [1]:
# import and configure packages
from imports import *
%matplotlib inline
warnings.filterwarnings('ignore')

f:\code\wgu\py39\Scripts\python.exe
python version: 3.9.7
pandas version: 1.4.1
numpy version: 1.22.1
scipy version: 1.7.3
sklearn version: 1.0.2
matplotlib version: 3.5.1
seaborn version: 0.11.2

In [2]:
from helpers import *

getFilename version: 1.1
saveTable version: 1.2
describeData version: 1.0
createScatter version: 1.0
createBarplot version: 1.1
get_unique_numbers version: 1.0
createCorrelationMatrix version: 1.0
createStackedHistogram version: 1.0

<div style="font-family:Impact;">Churn Data.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">Import churn_clean.csv.</span></div>

In [3]:
# load data from .csv
raw = pd.read_csv('data/churn_clean.csv')
raw = raw.drop(columns=['CaseOrder','UID', 'County', 
                        'Interaction', 'City', 
                        'Job', 'Zip','Population',
                       'Lat', 'Lng'])
describeData(raw)

1. Customer_id is categorical (CATEGORICAL): ['K409198' 'S120509' 'K191035' ... 'I243405' 'I641617' 'T38070'].

2. State is categorical (CATEGORICAL): ['AK' 'MI' 'OR' 'CA' 'TX' 'GA' 'TN' 'OK' 'FL' 'OH' 'PA' 'PR' 'IA' 'ME'
 'IL' 'WI' 'NC' 'AL' 'NM' 'VT' 'MD' 'NY' 'WA' 'CT' 'NJ' 'DC' 'ND' 'LA'
 'NE' 'WV' 'AZ' 'MO' 'WY' 'MT' 'VA' 'KY' 'MN' 'KS' 'MA' 'IN' 'SC' 'NH'
 'DE' 'MS' 'ID' 'AR' 'SD' 'CO' 'HI' 'UT' 'RI' 'NV'].

3. Area is categorical (CATEGORICAL): ['Urban' 'Suburban' 'Rural'].

4. TimeZone is categorical (CATEGORICAL): ['America/Sitka' 'America/Detroit' 'America/Los_Angeles' 'America/Chicago'
 'America/New_York' 'America/Puerto_Rico' 'America/Denver'
 'America/Menominee' 'America/Phoenix' 'America/Indiana/Indianapolis'
 'America/Boise' 'America/Kentucky/Louisville' 'Pacific/Honolulu'
 'America/Indiana/Petersburg' 'America/Nome' 'America/Anchorage'
 'America/Indiana/Knox' 'America/Juneau' 'America/Toronto'
 'America/Indiana/Winamac' 'America/Indiana/Vincennes'
 'America/North_Dakota/New_Salem' 'America/Indiana/Tell_City'
 'America/Indiana/Marengo' 'America/Ojinaga'].

5. Children is numerical (CONTINUOUS) - type: int64.
  Unique: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Age is numerical (CONTINUOUS) - type: int64.
  Unique: [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]

7. Income is numerical (CONTINUOUS) - type: float64.
  Min: 348.670  Max: 258900.700  Std: 28199.917

8. Marital is categorical (CATEGORICAL): ['Widowed' 'Married' 'Separated' 'Never Married' 'Divorced'].

9. Gender is categorical (CATEGORICAL): ['Male' 'Female' 'Nonbinary'].

10. Churn is categorical (CATEGORICAL): ['No' 'Yes'].

11. Outage_sec_perweek is numerical (CONTINUOUS) - type: float64.
  Min: 0.100  Max: 21.207  Std: 2.976

12. Email is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

13. Contacts is numerical (CONTINUOUS) - type: int64.
  Unique: [0, 1, 2, 3, 4, 5, 6, 7]

14. Yearly_equip_failure is numerical (CONTINUOUS) - type: int64.
  Unique: [0, 1, 2, 3, 4, 6]

15. Techie is categorical (CATEGORICAL): ['No' 'Yes'].

16. Contract is categorical (CATEGORICAL): ['One year' 'Month-to-month' 'Two Year'].

17. Port_modem is categorical (CATEGORICAL): ['Yes' 'No'].

18. Tablet is categorical (CATEGORICAL): ['Yes' 'No'].

19. InternetService is categorical (CATEGORICAL): ['Fiber Optic' 'DSL' 'None'].

20. Phone is categorical (CATEGORICAL): ['Yes' 'No'].

21. Multiple is categorical (CATEGORICAL): ['No' 'Yes'].

22. OnlineSecurity is categorical (CATEGORICAL): ['Yes' 'No'].

23. OnlineBackup is categorical (CATEGORICAL): ['Yes' 'No'].

24. DeviceProtection is categorical (CATEGORICAL): ['No' 'Yes'].

25. TechSupport is categorical (CATEGORICAL): ['No' 'Yes'].

26. StreamingTV is categorical (CATEGORICAL): ['No' 'Yes'].

27. StreamingMovies is categorical (CATEGORICAL): ['Yes' 'No'].

28. PaperlessBilling is categorical (CATEGORICAL): ['Yes' 'No'].

29. PaymentMethod is categorical (CATEGORICAL): ['Credit Card (automatic)' 'Bank Transfer(automatic)' 'Mailed Check'
 'Electronic Check'].

30. Tenure is numerical (CONTINUOUS) - type: float64.
  Min: 1.000  Max: 71.999  Std: 26.443

31. MonthlyCharge is numerical (CONTINUOUS) - type: float64.
  Min: 79.979  Max: 290.160  Std: 42.943

32. Bandwidth_GB_Year is numerical (CONTINUOUS) - type: float64.
  Min: 155.507  Max: 7158.982  Std: 2185.295

33. Item1 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7]

34. Item2 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7]

35. Item3 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7, 8]

36. Item4 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7]

37. Item5 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7]

38. Item6 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7, 8]

39. Item7 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7]

40. Item8 is numerical (CONTINUOUS) - type: int64.
  Unique: [1, 2, 3, 4, 5, 6, 7, 8]

<p style="page-break-after:always;"></p><h4><div style= "font-weight: bold;font-size: large;border-top: solid;text-transform: uppercase;">TABLE 1.<span style="font-weight: normal;">CHURN</span></div></h4>Initial state of dataset before any manipulations.

In [4]:
saveTable(data=raw, title='CHURN', title_only=True)

,0,1,2,3
Customer_id,K409198,S120509,K191035,D90850
State,AK,MI,OR,CA
Area,Urban,Urban,Urban,Suburban
TimeZone,America/Sitka,America/Detroit,America/Los_Angeles,America/Los_Angeles
Children,0,1,4,1
Age,68,27,50,48
Income,28561.99,21704.77,9609.57,18925.23
Marital,Widowed,Married,Widowed,Married
Gender,Male,Female,Female,Male
Churn,No,Yes,No,No
Outage_sec_perweek,7.978323,11.69908,10.7528,14.91354
Email,10,12,9,15
Contacts,0,0,0,2
Yearly_equip_failure,1,1,1,0
Techie,No,Yes,Yes,Yes
Contract,One year,Month-to-month,Two Year,Two Year
Port_modem,Yes,No,Yes,No
Tablet,Yes,Yes,No,No
InternetService,Fiber Optic,Fiber Optic,DSL,DSL
Phone,Yes,Yes,Yes,Yes
Multiple,No,Yes,Yes,No
OnlineSecurity,Yes,Yes,No,Yes
OnlineBackup,Yes,No,No,No
DeviceProtection,No,No,No,No
TechSupport,No,No,No,No
StreamingTV,No,Yes,No,Yes
StreamingMovies,Yes,Yes,Yes,No
PaperlessBilling,Yes,Yes,Yes,Yes
PaymentMethod,Credit Card (automatic),Bank Transfer(automatic),Credit Card (automatic),Mailed Check
Tenure,6.795513,1.156681,15.754144,17.087227
MonthlyCharge,172.455519,242.632554,159.947583,119.95684
Bandwidth_GB_Year,904.53611,800.982766,2054.706961,2164.579412
Item1,5,3,4,4
Item2,5,4,4,4
Item3,5,3,2,4
Item4,3,3,4,2
Item5,4,4,4,5
Item6,4,3,3,4
Item7,3,4,3,3
Item8,4,4,3,3

shape: (10000, 40)
Table saved to: TABLES/CHURN.CSV

<div style="font-family:Impact;">Population Data.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">Import population.csv.</span></div>

In [5]:
# load external population data from .csv
population = pd.read_csv('data/population.csv')
population = population.drop(columns=['GEO_ID','POP_BASE2020', 'POP_2020'])
describeData(population)

1. NAME is categorical (CATEGORICAL): ['Oklahoma' 'Nebraska' 'Hawaii' 'South Dakota' 'Tennessee' 'Nevada'
 'New Mexico' 'Iowa' 'Kansas' 'District of Columbia' 'Texas' 'Missouri'
 'Arkansas' 'Michigan' 'New Hampshire' 'North Carolina' 'Ohio'
 'South Carolina' 'Wyoming' 'California' 'North Dakota' 'Louisiana'
 'Maryland' 'Delaware' 'Pennsylvania' 'Georgia' 'Oregon' 'Minnesota'
 'Colorado' 'New Jersey' 'Kentucky' 'Washington' 'Maine' 'Vermont' 'Idaho'
 'Indiana' 'Montana' 'New York' 'Puerto Rico' 'Connecticut' 'Florida'
 'Virginia' 'Massachusetts' 'Illinois' 'Mississippi' 'Arizona' 'Utah'
 'Wisconsin' 'Alabama' 'West Virginia' 'Rhode Island' 'Alaska'].

2. POP_2021 is numerical (CONTINUOUS) - type: int64.
  Unique: [732673, 29527941, 5039877, 21781128, 6165129, 19835913, 4246155, 1104271, 895376, 1441553, 6984723, 7276316, 774948, 2115877, 1963692, 4624047, 1782959, 11780017, 5190705, 2934582, 3143991, 9267130, 1095610, 1388992, 645570, 7738692, 3337975, 39237836, 2949965, 10799566, 3986639, 10050811, 4509394, 1372247, 12964056, 3605597, 3263584, 6805985, 670050, 3025891, 8642274, 5812069, 5895908, 12671469, 6975218, 578803, 1900923, 3193079, 1003384, 10551162, 6168187, 5707390]

<p style="page-break-after:always;"></p><h4><div style= "font-weight: bold;font-size: large;border-top: solid;text-transform: uppercase;">TABLE 2.<span style="font-weight: normal;">POPULATION DATA</span></div></h4>Initial state of dataset before any manipulations.

In [6]:
saveTable(data=population, title='POPULATION', title_only=True)

                 0         1        2             3
NAME      Oklahoma  Nebraska   Hawaii  South Dakota
POP_2021   3986639   1963692  1441553        895376

shape: (52, 2)
Table saved to: TABLES/POPULATION.CSV

In [7]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      52 non-null     object
 1   POP_2021  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 960.0+ bytes

<div style="font-family:Impact;">States Data.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">Import states.csv.</span></div>

In [8]:
# load external us states data from .csv
states = pd.read_csv('data/states_regions.csv')
#states = states.drop(columns=['Abbrev'])
describeData(states)

1. State is categorical (CATEGORICAL): ['Alaska' 'Alabama' 'Arkansas' 'Arizona' 'California' 'Colorado'
 'Connecticut' 'District of Columbia' 'Delaware' 'Florida' 'Georgia'
 'Hawaii' 'Iowa' 'Idaho' 'Illinois' 'Indiana' 'Kansas' 'Kentucky'
 'Louisiana' 'Massachusetts' 'Maryland' 'Maine' 'Michigan' 'Minnesota'
 'Missouri' 'Mississippi' 'Montana' 'North Carolina' 'North Dakota'
 'Nebraska' 'New Hampshire' 'New Jersey' 'New Mexico' 'Nevada' 'New York'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Virginia' 'Vermont'
 'Washington' 'Wisconsin' 'West Virginia' 'Wyoming'].

2. Code is categorical (CATEGORICAL): ['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY'].

3. Region is categorical (CATEGORICAL): ['West' 'South' 'Northeast' 'Midwest'].

4. Division is categorical (CATEGORICAL): ['Pacific' 'East South Central' 'West South Central' 'Mountain'
 'New England' 'South Atlantic' 'West North Central' 'East North Central'
 'Middle Atlantic'].

<p style="page-break-after:always;"></p><h4><div style= "font-weight: bold;font-size: large;border-top: solid;text-transform: uppercase;">TABLE 3.<span style="font-weight: normal;">US STATES DATA</span></div></h4>Initial state of dataset before any manipulations.

In [9]:
saveTable(data=states, title='STATES', title_only=True)

                0                   1                   2         3
State      Alaska             Alabama            Arkansas   Arizona
Code           AK                  AL                  AR        AZ
Region       West               South               South      West
Division  Pacific  East South Central  West South Central  Mountain

shape: (51, 4)
Table saved to: TABLES/STATES.CSV

<h3>G. Internet Reference</h3>

In [10]:
stop

NameError: name 'stop' is not defined

<div style="font-family:Impact;">Enabling Jupyter Notebook extensions. <span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;"> </span></div>Ref: (1) https://tljh.jupyter.org/en/latest/howto/admin/enable-extensions.html

pip install jupyter_contrib_nbextensions

jupyter contrib nbextension install --sys-prefix

jupyter nbextension enable scratchpad/main --sys-prefix

jupyter nbextension list

<div style="font-family:Impact;">NBCONVERT. <span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;"> Convert Jupyter notebook to HTML.</span></div> Ref: (1)https://stackoverflow.com/questions/15998491/how-to-convert-ipython-notebooks-to-pdf-and-html/25942111, (2) https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html

pip install jupyter_contrib_nbextensions

jupyter contrib nbextension install --user

jupyter nbconvert --to html d209_2_1.ipynb

<h3>H. Acknowledge sources, using in-text citations and references, for content that is quoted, paraphrased, or summarized.</h3>

<div style="font-family:Impact;">Deitel, P. +<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2020). Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud</span></div>

<div style="font-family:Impact;">Geron, A.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2019). Hands-on Machine Learning with Scikit-Learn, Keras and TensorFlow: Concepts, Tools and Techniques to Build Intelligent Systems</span></div>

<div style="font-family:Impact;">Larose, C.+<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2019). Data Science Using Python and R</span></div>

<div style="font-family:Impact;">Rite, S.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2018). Demystifying ‘Confusion Matrix’ Confusion</span></div>https://towardsdatascience.com/demystifying-confusion-matrix-confusion-9e82201592fd

<div style="font-family:Impact;">Robinson, S. <span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2021). K-Nearest Neighbors Algorithm in Python and Scikit-Learn</span></div>https://stackabuse.com/k-nearest-neighbors-algorithm-in-python-and-scikit-learn/

<div style="font-family:Impact;">Sharma, A.<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2021). K-Nearest Neighbors (KNN) on Customer Churn Data</span></div>https://medium.com/data-science-on-customer-churn-data/k-nearest-neighbors-knn-on-customer-churn-data-40e9b2bb9266

<div style="font-family:Impact;">Shmueli, G. +<span style="font-family: 'Courier New';font-size: 18px;color: #000000;line-height: 24px;">(2020). Data Mining for Business Analytics: Concepts, Techniques, and Application in Python</span></div>

<p style="page-break-after:always;"></p><h2>Appendix A - Imports.py</h2>

In [ ]:
# show python environment variables
import sys; import platform
print(sys.executable)
print('python version: {}'.format(platform.python_version()))
import os, sys
from IPython.display import Image

# PIL image
from PIL import Image as png

# import and configure pandas
import pandas as pd
pd.set_option('precision',3)
pd.set_option('max_columns',9)
pd.set_option('display.width', None)
print('pandas version: {}'.format(pd.__version__))

# import and configure scientific computing
import numpy as np
import scipy.stats as stats
import scipy
print('numpy version: {}'.format(np.__version__))
print('scipy version: {}'.format(scipy.__version__))

# import and configure sklearn
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import classification_report
from sklearn import metrics, tree
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import KFold, cross_val_score, train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, _tree
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.tree import export_graphviz as dt # decisiontree
from sklearn.base import BaseEstimator, TransformerMixin
print('sklearn version: {}'.format(sklearn.__version__))

# plotDecisionTree from Shmueli (2020) Data Mining for Business Analytics
from dmba import plotDecisionTree, classificationSummary, regressionSummary

# import and configure plotting packages
import graphviz
import matplotlib
#import matplotlib.pyplot as plt
import matplotlib.pylab as plt
import matplotlib.patches as mpatches
plt.rc("font", size=14)

import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
print('matplotlib version: {}'.format(matplotlib.__version__))
print('seaborn version: {}'.format(sns.__version__))
print('graphviz version: {}'.format(graphviz.__version__))

# warnings
import warnings

<p style="page-break-after:always;"></p><h2>Appendix B - Helpers.py</h2>

In [ ]:
# helper functions

print('getFilename version: {}'.format('1.1'))
def getFilename(title: str, caption="XX",
             sect='XX', ftype = 'PNG',
            course = 'D209', task = 'TASK1',
               subfolder='figures',
               title_only=False) -> str:
    """
    Construct a filename for given figure or table
    Input:
      title:
      sect:
      caption:
      ftype:
      course:
      task:
      subfolder:
    """
    temp = subfolder + '/'  # subfolder for tables and figures, default is 'fig'
    if(title_only):
        temp += title 
    else:
        temp += course + '_'
        temp += task + '_'
        temp += sect + '_'
        temp += subfolder[0:3] + " " + caption + '_' #
        temp += title
    temp += '.' + ftype

    return temp.replace(' ','_').upper()


print('saveTable version: {}'.format('1.1'))
def saveTable(data, title: str, caption="XX", 
              sect='XX',course='D209', 
              task='TASK1', title_only=False):
    """
    Construct a filename for given figure or table
    Input:
      data:
      title:
      sect:
      caption:
      ftype:
      course:
      task:
      subfolder:
    """    
    # construct filename based on parameters
    f = getFilename(title=title, sect=sect, task=task, 
                caption=caption, ftype='CSV', 
                course=course, subfolder='tables', 
                   title_only=title_only)
    data.to_csv(f, index=True, header=True) # create .csv file
    display(data.head(4).T) # display dataframe head data translated for vertical readibility
    print('shape: {}'.format(data.shape)) # describe dataframe rows and cols
    print('Table saved to: {}'.format(f)) # feedback to notebook   
    
    
print('describeData version: {}'.format('1.0'))      
def describeData(data):
    """
    Describe a set of data as Continuous or Categorical
    Input:
      data: dataframe to be described
    """ 
    for idx, c in enumerate(data.columns):
        if data.dtypes[c] in ('float', 'int', 'int64'):
            print('\n{}. {} is numerical (CONTINUOUS) - type: {}.'.format(idx+1, c, data.dtypes[c]))
            if data.dtypes[c] in ('int', 'int64'):
                numbers = data[c].to_numpy()
                print('  Unique: {}'.format(get_unique_numbers(numbers)))
            if data.dtypes[c] in ('float', 'float64'):
                print('  Min: {:.3f}  Max: {:.3f}  Std: {:.3f}'.format(data[c].min(), data[c].max(),data[c].std()))
            
        elif data.dtypes[c] == bool:
            print('\n{}. {} is boolean (BINARY): {}.'.format(idx+1,c,data[c].unique()))
        else:
            print('\n{}. {} is categorical (CATEGORICAL): {}.'.format(idx+1,c,data[c].unique()))  

    
print('createScatter version: {}'.format('1.0'))
def createScatter(data,feature,target,c,edgecolor,title,caption,course,task):
    """
    Create and save a custom scatter plot fiugre
    Input:
    data: dataframe
    feature:
    target:
    c:
    edgecolor:
    title:
    caption:
    course:
    """
    import matplotlib.pyplot as plt
    
    # define a couple of plot variables
    title = title + ' ' + str(feature) + ' ' + str(target)
    
    # create fig,ax
    fig,ax = plt.subplots()
    ax.scatter(data[feature],data[target],c=c,edgecolor=edgecolor)
    
    # set title
    ax.set_title(title.upper(), fontsize=16)
    
    # create filename and save
    f=getFilename(title=title, caption=caption,
                  course=course, task=task,
                  ftype='PNG', subfolder='figures')
    plt.gcf().text(0, -.05, f, fontsize=14)
    fig.savefig(f, dpi=150, bbox_inches='tight') 
    print('Figure saved to: {}'.format(f)) # feedback to notebook
    
    
print('createBarplot version: {}'.format('1.1'))
def createBarplot(data,feature,target,title,caption,course,task):
    """
    Create and save a custom bar plot fiugre
    Input:
    feature: feature (Categorical)
    target: target (Numerical)
    title:
    caption:
    course:
    """
    import matplotlib.pyplot as plt
    fig,ax = plt.subplots()
    ax=data.groupby(feature).mean()[target].plot(kind='bar')
    title = title + ' ' + str(feature) + ' ' + str(target)
    ax.set_title(title.upper())
    ax.set_ylabel(('Ave. ' + target).upper())
    f=getFilename(title=title, caption=caption,
                  course=course, task=task,
                  ftype='PNG', subfolder='figures')
    plt.gcf().text(0, -.05, f, fontsize=14)
    fig.savefig(f, dpi=150, bbox_inches='tight') 
    print('Figure saved to: {}'.format(f)) # feedback to notebook
    
    

print('get_unique_numbers version: {}'.format('1.0'))    
def get_unique_numbers(numbers):
    """
    Input:
    numbers: array
    
    Ref: https://www.freecodecamp.org/news/python-unique-list-how-to-get-all-the-unique-values-in-a-list-or-array/
    """
    list_of_unique_numbers = []
    unique_numbers = set(numbers)
    for number in unique_numbers:
        list_of_unique_numbers.append(number)
    return list_of_unique_numbers


print('createCorrelationMatrix version: {}'.format('1.0'))
def createCorrelationMatrix(data,title,caption,course,task,highest):
    """
    Create and save custom correlation matrix (heatmap) plot
    Input:
    data: dataframe of corr matrix
    c:
    edgecolor:
    title:
    caption:
    course:
    """
    import matplotlib.pyplot as plt
    import seaborn as sns
    fig,ax = plt.subplots()
    sns.heatmap(data.corr(), annot=True, fmt='.1f', 
        cmap='RdBu', center=0, ax=ax)
    ax.set_title(title.upper())
    fig.set_size_inches(8, 5)
    f=getFilename(title=title, caption=caption,
                  course=course, task=task,
                  ftype='PNG', subfolder='figures')
    plt.gcf().text(0, -.05, f, fontsize=14)
    plt.gcf().text(0, -.1, 'Top ' + str(highest) + ' Correlations:', fontsize=14, 
              horizontalalignment='left', verticalalignment='top') 
    plt.gcf().text(.04, -.15, get_top_abs_correlations(data, n=highest).to_string(), 
              fontsize=14,horizontalalignment='left', verticalalignment='top') 
    fig.savefig(f, dpi=150, bbox_inches='tight') 
    print('Figure saved to: {}'.format(f)) # feedback to notebook
        

def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]
        

print('createStackedHistogram version: {}'.format('1.0'))
def createStackedHistogram(data,feature,target,title,caption,course,task,bins=9,isCat=True):
    """
    Create and save a custom stacked histogram
    Input:
    data:
    feature: feature (Numerical)
    target: target (Yes/No)
    title:
    caption:
    course:
    task:
    bins:
    isCat: bool if target is cat, else num
    """
    import matplotlib.pyplot as plt
    import pandas as pd
    
    # create fig,ax
    fig,ax = plt.subplots()
    
    # define couple of plot variables
    if isCat==True:
        
        yes = data[data[target]=='yes'][feature]; yes_mean = yes.mean();
        no = data[data[target]=='no'][feature]; no_mean = no.mean()

    else:
        yes = data[data[target]==1][feature]; yes_mean = yes.mean();
        no = data[data[target]==0][feature]; no_mean = no.mean()   
        
    plt.hist([yes, no], bins=bins, stacked=True)
    title = title + ' ' + str(feature) + ' ' + str(target)
    
    # add legend
    ax.legend([str(target)+'= Yes',str(target)+'= No'])
    
    # add datatable
    b = pd.cut(data[feature], bins=bins) # create bins (b) of numeric feature
    ct = pd.crosstab(data[target], b)
    plt.gcf().text(0.1, -.05, ct.T.to_string(), fontsize=14,
            horizontalalignment='left', verticalalignment='top')
    
    # set min-max x and y limits
    ymin, ymax = ax.get_ylim()
    xmin, xmax = ax.get_xlim()
    
    # add title
    plt.title(title.upper(), fontsize=16)
    
    # axis labesl
    plt.xlabel(feature.upper())
    plt.ylabel(target.upper())
    
    # create group mean lines
    ax.axvline(yes_mean, color="blue", lw=2)  # yes mean
    ax.axvline(no_mean, color="orangered", lw=2)  # no mean
    #ax.text((xmax - xmin) / 2,
    #        (ymax - ymin) / 2,
    #        "Delta:\n" + str(round(abs(yes_mean - no_mean), 2)),
    #        bbox={"facecolor": "white"} )
    
    # add filename and save
    f=getFilename(title=title, caption=caption,
                  course=course, task=task,
                  ftype='PNG', subfolder='figures')
    plt.gcf().text(0, -.05, f, fontsize=14)
    fig.savefig(f, dpi=150, bbox_inches='tight') 
    print('Figure saved to: {}'.format(f)) # feedback to notebook